.profile-pic{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
}

