.art-p{
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}
.card{
    width:400px;
    height:400px;
    border-color:#A00000;
    border-style: solid;
    border-radius: 9px;
}

.card .card-image img {
    -webkit-filter: grayscale(2);
    filter: grayscale(2);
    width: 400px;
    height: 250px;
}
.card-title{
    color: black;
    font-size: 18px;
    font-family: 'Cormorant', serif;
}
.card .card-reveal{
    background: #A00000;
}
.card .card-reveal .card-title {
    color: ghostwhite !important;
    font-family: "Cormorant";
}
.art-p-reveal{
    color:ghostwhite;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}
a{
    color: black;
}
a:hover{
    color: #A00000;
}