.contact-p{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    color: black;
    font-size: 1.2em;
}
.contact-form{
    text-align: center;
    background:gray;
    margin:100px;
    border-radius:5%;
    border: 3px solid #A00000;

}
.full-name{
    border-bottom:1px solid #A00000;
    
}

.email{
    border-bottom:1px solid #A00000;
    
}

.message{
    border-bottom: 1px solid #A00000;
    
}
::placeholder{
    font-family: 'Slabo 27px', serif;
    text-align: left;
    color: black;
    font-size: 1.2em;
}
::placeholder:after{
    font-family: 'Slabo 27px', serif;
    text-align: left;
    color: black;
    font-size: 1.2em;
    border-bottom: 1px solid #A00000;
}

.superman-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius:50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 450px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #A00000;
}

.d-icon{
    height: 60px;
    width: 60px;
    margin: 8px;
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}

.d-icon:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-animation: shake 0.5s;
    animation: shake 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50%{ transform: translate(-1px, 2px) rotate(-1deg)}
    60%{ transform: translate(-3px, 1px) rotate(0deg)}
    70%{ transform: translate(3px, 1px) rotate(-1deg)}
    80%{ transform: translate(-1px, -1px) rotate(1deg)}
    90%{ transform: translate(1px, 2px) rotate(0deg)}
    100%{ transform: translate(1px, -2px) rotate(-1deg)}
}

body[data-aos-duration='1500'] [data-aos],
  [data-aos][data-aos][data-aos-duration='1500'] {
    transition-duration: 1500ms;
  }