.portfolio-header{
    font-family: 'Cormorant Unicase', serif;
    color: black;
    text-align: center;
}

.portfolio-p{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    color: black;
    font-size: 1.2em;
    border-bottom : 2px groove black;
    
}
.project-info-right{
   border-left : 5px solid #A00000;
}

.project-info-left{
    border-right: 5px solid #A00000; 
}
body[data-aos-duration='2000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='2000'] {
    transition-duration: 2000ms;
  }

  h6,
  h4{  
    text-align: center;
    padding: 10px;
    border-radius: 10%;
}
h6{
    font-family: 'Slabo 27px', serif;
    color: #707070;
}

h4{
    font-family: 'Cormorant Unicase', serif;
    color: #181818;
}

.image{
    background-repeat:no-repeat;
    height: 300px;
    width: 300px;
    padding: 0px 70px;
    transition: .2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.image:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.click-btn{
    height: 40px;
}
.click-btn:hover{
    background:#A00000 ;
    border-radius:50%;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.link{
    text-align: center;
}