.portfolio-header{
    font-family: 'Cormorant Unicase', serif;
    color: black;
    text-align: center;
}

.portfolio-p{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    color: black;
    font-size: 1.5em;
}