.dev-skills{
    font-family: "Anton", serif;
    text-align: center;
}

body[data-aos-duration='2000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='2000'] {
    transition-duration: 2000ms;
}

.dev-p{
    font-family: "Slabo 27px", serif;
    text-align: center;
    font-size: 16px;
}
.front-end-skills{
    font-family: "Anton", serif;
    text-decoration: underline;
}
.frameworks{
    font-family: "Anton", serif;
    text-decoration: underline;
}
.backend{
    font-family: "Anton", serif;
    text-decoration: underline;
}
ul.a{
    text-align: center;
}
li{
    font-family: "Slabo 27px", serif;
    text-align: center;
    font-size: 18px;
}
li:hover{
    color: #a00000;
}