* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }
   

.footer{
    background: #2c3539;
    color: ghostwhite;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size:1.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.contact-icon{
    border-radius:50%;
    height:60px;
    width:60px;
    padding:5px;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.contact-icon:hover{
    height:75px;
    width:75px;
}